
<div class="container">
<div class="row">
<div class="col-md-6">
    <div class="card">
        <div class="card-header">
          Book Your Movie
        </div>


    <table class="table">
        <tr>
            <td>Adult Tickets</td>
            <td>{{adultTicket}}</td>
            <td><button class='btn btn-primary btn-sm' (click)="addTicket('adult')">+</button></td>
            <td><button class='btn btn-primary btn-sm' (click)="removeTicket('adult')">-</button> </td>
        </tr>
        <tr>
            <td>Child Tickets</td>
            <td>{{childTicket}}</td>
    
            <td><button class='btn btn-primary btn-sm' (click)="addTicket('child')">+</button></td>
            <td><button class='btn btn-primary btn-sm' (click)="removeTicket('child')">-</button></td>
        </tr>
        <tr>
    
            <td colspan='3'>Total Ticket Price: </td>
            <td style='text-align: left'>{{totalTicketPrice}}</td>
    
        </tr>
    </table>
</div>

</div>
<div class="col-md-6"></div>

</div>


</div>






