<!-- <p>
  <ngb-alert [dismissible]="false">
    <strong>Step 1</strong> ng g c components/movielisting
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 2</strong> ng g c components/moviedetail
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 3</strong> ng g s services/movie
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 4</strong> ng g i models/movie
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 5</strong> ng g i models/movielist
  </ngb-alert>
</p>


<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 6</strong> Flesh out your Movie interface: add a title property
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 7</strong> Add a listing to your movielisting.component:   listing : Movie[] = [....];
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 7</strong> Use *ngFor to render a loop of your movie items;
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 8</strong> Add Http to the service import   HttpClient  from '@angular/common/http';
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 9</strong> Add Http to the module  HttpClientModule  from '@angular/common/http';
  </ngb-alert>
</p>

<p>
  <ngb-alert [dismissible]="false">
    <strong>Step 10</strong> Add Http  module to the imports:  HttpClientModule';
  </ngb-alert>
</p>


<app-movielisting></app-movielisting> -->

<router-outlet></router-outlet>